@use "sass:color";

$link-decoration: none;
$font-family-sans-serif: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
$font-family-serif: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
$navbar-padding-x: 1rem;
// $display-font-weight: 800;
$custom-diplay-font-sizes:(
    7: 2rem
);
$btn-font-size-lg: 2rem;
$border-radius-lg: 2rem;
$btn-font-weight: 600;
// $linkey-red: #A92C3D;
$nijigray: #baada8;
$nijigray-mid: #f2ece9;
$nijigray-pale: #faf7f5;
$nijiblack: #38312d;
// $custom-colors: ("linkey_red": $linkey-red);
$custom-colors: (
    "nijigray": $nijigray,
    "nijigray-mid": $nijigray-mid,
    "nijigray-pale": $nijigray-pale
);
// $primary: $linkey-red;
$primary: $nijigray;
// $pink:#D66792;
// $orange: #E06147;
$dpurple: $nijiblack;
$secondary: $nijigray-mid;
// $purple: #8d3070;
$dred: $nijiblack;
// $red: #C54742;
$cardinal: $nijiblack;
$bpurple: $nijiblack;
$black: $nijiblack;
// $blue: #166d71;
$dblue: $nijiblack;
$custom-theme-colors:(
//     "pink": $pink,
//     "purple": $purple,
    "dpurple": $dpurple,
//     "dred": $dred,
//     "red": $red,
    "cardinal": $cardinal,
    "bpurple": $bpurple,
//     "orange": $orange,
//     "blue": $blue,
    "dblue": $dblue
);

// $card-border-radius: $border-radius-lg;
$card-border-radius: none;
$card-space-multiplier: 2;
$card-spacer-y: $card-space-multiplier * 1rem;
$card-spacer-x: $card-space-multiplier * 1rem;
$card-cap-bg: none;
$card-border-color: #ffffff;

$text-muted: rgba($secondary, .75);
$list-group-bg: none;
$small-font-size: .7em;
/*!
 * Bootstrap v5.0.0-beta1 (https://getbootstrap.com/)
 * Copyright 2011-2020 The Bootstrap Authors
 * Copyright 2011-2020 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

// scss-docs-start import-stack
// Configuration
@import "scss/functions";
@import "scss/variables";
$display-font-sizes: map-merge($display-font-sizes, $custom-diplay-font-sizes);
$colors: map-merge($colors, $custom-colors);
$theme-colors: map-merge($theme-colors, $custom-theme-colors);
@import "scss/mixins";
@import "scss/utilities";

// Layout & components
@import "scss/root";
@import "scss/reboot";
@import "scss/type";
@import "scss/images";
@import "scss/containers";
@import "scss/grid";
// @import "scss/tables";
// @import "scss/forms";
@import "scss/buttons";
@import "scss/transitions";
// @import "scss/dropdown";
// @import "scss/button-group";
@import "scss/nav";
@import "scss/navbar";
@import "scss/card";
// @import "scss/accordion";
// @import "scss/breadcrumb";
// @import "scss/pagination";
// @import "scss/badge";
// @import "scss/alert";
// @import "scss/progress";
@import "scss/list-group";
// @import "scss/close";
// @import "scss/toasts";
// @import "scss/modal";
// @import "scss/tooltip";
// @import "scss/popover";
// @import "scss/carousel";
// @import "scss/spinners";

// Helpers
@import "scss/helpers";

// Utilities
@import "scss/utilities/api";
// scss-docs-end import-stack

// $linkey-red-100: tint-color($linkey-red, 80%) !default;
// $linkey-red-200: tint-color($linkey-red, 60%) !default;
// $linkey-red-300: tint-color($linkey-red, 40%) !default;
// $linkey-red-400: tint-color($linkey-red, 20%) !default;
// $linkey-red-500: $linkey-red !default;
// $linkey-red-600: shade-color($linkey-red, 20%) !default;
// $linkey-red-700: shade-color($linkey-red, 40%) !default;
// $linkey-red-800: shade-color($linkey-red, 60%) !default;
// $linkey-red-900: shade-color($linkey-red, 80%) !default;

$nijigray-100: tint-color($nijigray, 80%) !default;
$nijigray-200: tint-color($nijigray, 60%) !default;
$nijigray-300: tint-color($nijigray, 40%) !default;
$nijigray-400: tint-color($nijigray, 20%) !default;
$nijigray-500: $nijigray !default;
$nijigray-600: shade-color($nijigray, 20%) !default;
$nijigray-700: shade-color($nijigray, 40%) !default;
$nijigray-800: shade-color($nijigray, 60%) !default;
$nijigray-900: shade-color($nijigray, 80%) !default;


.custom_element{
    color: tint-color($primary, 80%);
}
.bg_header_3rd{
    background: $pink-100;
}
#top .display-4{
    background:-webkit-linear-gradient(left, $pink,$primary,$orange);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 140%;
}
.my_bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#top .my_bg.hero{
    height:100vh;
    background-position: 35% center;
}
.webp #top .my_bg.hero{
    background-image:radial-gradient(circle at left 110% top 50%, white 0%, #ffffff00 70%) ,url("images/background/hero_bg_image.webp");
}
.no-webp #top .my_bg.hero{
    background-image:radial-gradient(circle at left 110% top 50%, white 0%, #ffffff00 70%) ,url("images/background/hero_bg_image.jpg");
}
@media (min-width: 576px) {
    .webp #top .my_bg.hero{
        background-image:
        radial-gradient(circle at left 110% top 50%, white 0%, #ffffff00 70%),
        url("images/background/hero_bg_image.webp");
    }
    .no-webp #top .my_bg.hero{
        background-image:
        radial-gradient(circle at left 110% top 50%, white 0%, #ffffff00 70%),
        url("images/background/hero_bg_image.jpg");
    }
}
$alpha_k: -0.7;
$ap0: color.adjust($pink, $alpha: -1);

.bg_2nd{
    background:
    radial-gradient(circle at left 50% bottom 50%, #FFFFFF33 0%, #FFFFFF00 50%),
    radial-gradient(circle at left 50% bottom 0%, color.adjust($pink, $alpha: $alpha_k) 0%, $ap0 80%),
    radial-gradient(circle at left 0% top 50%, color.adjust($orange, $alpha: $alpha_k) 0%, $ap0 80%),
    radial-gradient(circle at right 0% top 0%, color.adjust($indigo, $alpha: $alpha_k) 0%, $ap0 80%);
    background-color: $primary;
}
.bg_grad_primary_orange{
    background:radial-gradient(circle at left 0% bottom 50%, $orange 0%, $primary 130%);
}
.grad_pink_main{
    background:-webkit-linear-gradient(left, $pink 0%, $primary 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.grad_dpurple_main{
    background:-webkit-linear-gradient($dpurple 0%, $primary 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.grad_orange_main{
    background:-webkit-linear-gradient(left, $orange 0%, $primary 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg_linkey_points{
    background: url("images/icon/icon_linkey.svg"),
    linear-gradient($pink 0%, $primary 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.card-img.right{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.card-header.left{
    border-top-right-radius: 0;
}
.card-img.left{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.card-header.right{
    border-top-left-radius: 0;
}
.bg_finelife{
    background-color: $purple-100;
    border-radius: 30px;
}
.op-75{
    opacity: 75%;
}
.bg-orange-100{
    background-color: $orange-100;
}
.bg-red-100{
    background-color: $red-100;
}
.bg-primary-100{
    background-color: $nijigray-100;
}
.img-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn{
    box-shadow: 0px 10px 20px #00000030;
}
.test{
    border: 1px solid #000000;
}
.navbar-brand{
    max-width: 50vw;
}
@media (min-width: 768px){
    .navbar-brand{
        max-width: 100vw;
    }
}
.navbar-nav {
    a {
      display: inline-block; // stops menu items from stacking
    }
  }
.custom-scroll{
    white-space: nowrap;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
}

.font-sans-serif{
    font-family: $font-family-sans-serif;
}
.font-serif{
    font-family: $font-family-serif;
}